:root {
  /* primarycolorOfSiteAndShadows */
  --colorPrimary1: #0c0e12;
  --colorPrimary2: #13151b;
  --colorPrimary3: #16181f;
  --colorPrimary4: #1c1f28;
  --colorPrimary5: #20232d;
  /* lighterShadows */
  --colorPrimary6: #363942;
  --colorPrimary7: #4c4f57;
  --colorPrimary8: #62656c;
  --colorPrimary9: #8f9196;
  /* textColors */
  --txtLight1: #ebeeec;
  --txtLight2: #bcbebd;

  --txtDark1: #20232d;
  /* accents */
  --colorSecondary: #89938d;

  /* btnColor  */
  --btnLight: #ebeeec;
  --btnLight2: #929292;
  --btnDark: #39455b;
  --btnColor: #f39410;
  --btnDarker: #6b7e96;

  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;

  --hoverOnDark: #6b7e96;
  --hoverOnLight: #39455b;

  --spacing: 0.2rem;
  --radius: 0.25rem;

  --transition: all 0.3s linear;

  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* GLOBAL STYLES */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-secondary);
  background: var(--colorPrimary6);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
  margin-top: 5rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
  color: var(--txtLight1);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  font-size: 1rem;
  margin-bottom: 0.55rem;
  color: var(--txtLight2);
}
.section-center {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
  min-width: 80vw;
  padding: 10px;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
  p {
    font-size: 1.5rem;
  }
}

/* NAVBAR */
.navBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  z-index: 200;
}
.navCenter {
  width: 90vw;
  max-width: 1690px;
  margin: 0 auto;
}

.navHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navLogo {
  min-width: 10rem;
  max-width: 20vw;
}
.navBtn {
  font-size: 2rem;
  background: transparent;
  border: none;
  outline: none;
  color: var(--btnLight);
  cursor: pointer;
  transition: var(--transition);
}
.navBtn:hover {
  color: var(--btnLight2);
}

.navLinks {
  display: none;
}
@media screen and (min-width: 411px) {
  .navBtn {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 768px) {
  .navBtn {
    display: none;
  }
  .navCenter {
    display: flex;
    justify-content: space-around;
  }
  .navLinks {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
  }
  .navLinks li {
    margin-right: 2rem;
    font-size: 1.25rem;
  }
  .navLinks a {
    text-transform: capitalize;
    color: var(--txtLight1);
    font-weight: bold;
    letter-spacing: var(--spacing);
    transition: var(--transition);
    padding: 0.5rem 0;
  }
  .navLinks a:hover {
    color: var(--hoverOnDark);
    box-shadow: 0px 2px var(--hoverOnDark);
  }
}

/* High resolutions */
@media screen and (min-width: 2048px) {
  div.navLogo {
    width: 16rem;
  }
  .navLinks li {
    font-size: 2.2rem;
  }
  aside.hero-info h2 {
    font-size: 3.5rem;
  }
  aside.hero-info p {
    font-size: 1.8rem;
  }
  .buttons-conteiner a {
    font-size: 2.2rem;
    line-height: 3rem;
  }
  .social-links.hero-links li a {
    font-size: 3.5rem;
  }
}
@media screen and (min-width: 4096px) {
  .navCenter {
    margin-top: 5vh;
    max-width: 60%;
  }
  div.navLogo {
    width: 20rem;
  }
  .navLinks li {
    font-size: 3.4rem;
  }
  aside.hero-info h2 {
    font-size: 5rem;
  }
  aside.hero-info p {
    font-size: 2.8rem;
  }
  a.btn {
    border-radius: 55px;
  }
  .buttons-conteiner a {
    font-size: 3.4rem;
    line-height: 4.2rem;
    padding: 20px 28px;
  }
  ul.social-links {
    width: 25rem;
  }
  .social-links.hero-links li a {
    font-size: 6rem;
  }
}

/* SIDEBAR */

.sidebar {
  background: var(--colorSecondary);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: grid;
  place-items: center;
  opacity: 0;
  transition: var(--transition);
  transform: translateX(-100%);
}
.showSidebar {
  opacity: 1;
  transform: translateX(0);
}
.sidebar-links li {
  opacity: 0;
}
.sidebar-links li a {
  display: block;
  text-align: center;
  text-transform: capitalize;
  color: var(--txtDark1);
  letter-spacing: var(--spacing);
  margin-bottom: 1.5rem;
  font-size: 2rem;
  transition: var(--transition);
  border-radius: var(--radius);
}
.sidebar-links li a:hover {
  background: var(--txtDark1);
  color: var(--txtLight1);
}
.closeBtn {
  position: absolute;
  right: 4.75%;
  top: 2.75%;
  font-size: 2.5rem;
  background: transparent;
  border-color: transparent;
  color: #bb2525;
  cursor: pointer;
}

.social-links {
  margin-top: 2rem;
  width: 15rem;
  display: flex;
  justify-content: space-around;
}

/* SIDEBAR ANIMATION*/
.sidebar-links li {
  animation: slideRight 0.5s ease-in-out 0.3s forwards;
}
.sidebar-links li:nth-of-type(1) {
  animation-delay: 0.25s;
}
.sidebar-links li:nth-of-type(2) {
  animation-delay: 0.5s;
}
.sidebar-links li:nth-of-type(3) {
  animation-delay: 0.75s;
}
@keyframes slideRight {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.social-links.sidebar-links li {
  opacity: 0;
  animation: slideUp 0.5s ease-in-out 0.3s forwards;
}
.social-links.sidebar-links li:nth-of-type(1) {
  animation-delay: 0.25s;
}
.social-links.sidebar-links li:nth-of-type(2) {
  animation-delay: 0.5s;
}
@keyframes slideUp {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* HERO SECTION */

.hero-img {
  display: none;
}
.buttons-conteiner {
  display: flex;
  margin: 10vh 0;
  justify-content: space-between;
  align-items: center;
}
.btn {
  position: relative;
  display: inline-block;
  line-height: 2rem;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 10px 12px;
  border-radius: 40px;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid black;
}

.btn.primary::before,
.btn.secondary::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--btnColor);
  border-radius: 40px;
  transform: translate(7%, 7%);
  z-index: -1;
  transition: 0.2s linear;
}
.btn.secondary::before {
  background-color: var(--btnDarker);
}
.btn:hover:before {
  transform: translate(-7%, -7%);
}

.social-links.hero-links {
  font-size: 2.4rem;
  transition: 0.2s;
  margin: 0 auto;
}
.social-links.hero-links li a {
  color: var(--txtLight2);
}
.social-links.hero-links li a:hover {
  color: var(--btnDark);
}
@media screen and (min-width: 410px) {
  h2 {
    font-size: 2.2rem;
  }
  p {
    font-size: 1.5rem;
  }
  .buttons-conteiner {
    justify-content: space-around;
  }
}

@media screen and (min-width: 767px) {
  .section-center {
    text-align: center;
    width: 80vw;
    margin-top: 15vh;
  }
  .buttons-conteiner {
    justify-content: space-around;
  }
  .btn {
    font-size: 1.8rem;
    line-height: 3rem;
    padding: 12px 15px;
  }
}
@media screen and (min-width: 1023px) {
  h2 {
    font-size: 3.5rem;
  }
  p {
    font-size: 1.8rem;
  }
  .btn {
    font-size: 2.2rem;
    padding: 15px 20px;
  }
}
@media screen and (min-width: 1199px) {
  .section-center {
    display: flex;
    max-width: 1690px;
    justify-content: space-around;
    align-items: center;
  }
  .hero-img {
    width: 30%;
    display: block;
  }
  h2 {
    font-size: 2.5rem;
  }
  p {
    font-size: 1.3rem;
  }
  .btn {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media screen and (min-width: 1921px) {
}
